@reference '../../index.css';

.confirm-modal {
  @apply fixed top-0 left-0 w-full h-[100vh] bg-overlay z-10 flex justify-center items-center outline-none;

  &.visible {
    .confirm-modal-container {
      @apply translate-y-0 opacity-100;
    }
  }

  .confirm-modal-container {
    @apply w-[32rem] max-w-[32rem] py-3 px-2 mx-2 rounded-sm bg-primary border-1 border-cta/15 shadow-simple-tiny break-words opacity-0 translate-y-3;

    transition: translate 150ms, opacity 150ms;

    h4 {
      @apply text-title font-medium mb-1;
    }

    p {
      @apply text-description text-sm mb-1 last:mb-0;
    }

    .btn-container {
      @apply mt-2 grid gap-1;

      button {
        &:nth-child(3) {
          @apply mt-1;
        }
      }
    }

    &.no-title {
      p {
        @apply text-title;
      }
    }
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translate3d(0, 3rem, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
